<h1> Welcome to 99 cats! </h1>

<p>
  Welcome <%= @user.username %>! You have successfully signed up to 99 cats.

  To login to the site, just follow this link : <%= @url %>

  Please let us know if you have any questions about any of our cats!
</p>
